language: csharp
os: windows
mono: none
install:
    - choco install nuget.commandline
before_script:
    - export PATH=$PATH:"/c/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin"
script:
    - cd BasicVideoChat
    - nuget restore BasicVideoChat.sln
    - MSBuild.exe
    - cd ..
    - cd CustomVideoRenderer
    - nuget restore CustomVideoRenderer.sln
    - MSBuild.exe
    - cd ..
    - cd FrameMetaData
    - nuget restore FrameMetaData.sln
    - MSBuild.exe
    - cd ..
    - cd ScreenSharing
    - nuget restore ScreenSharing.sln
    - MSBuild.exe
    - cd ..
    - cd SimpleMultiParty
    - nuget restore SimpleMultiParty.sln
    - MSBuild.exe
